.model_list{
  ul{
    clear:both;
    background:$white;
    float:left;
    width:100%;
    margin-bottom:14px;
    &:last-child{
      margin-bottom:0;
    }
  }
  li{
    box-sizing:border-box;
    border-bottom:1px solid $line_light_gray;
    width:100%;
    padding:1.2rem 1rem;
    float:left;
    &:last-child{
      border-bottom:none;
    }
    p{
      line-height:1.4rem;
    }
    .item_left{
      float:left;
      width:70%;
      p{
        color:$black;
        font-size:1.2rem;
        margin-bottom:2px;
      }
      span{
        color:$gray;
        font-size:1.1rem;
      }
    }
    .item_right{
      float:left;
      width:30%;
      text-align:right;
      em{
        font-weight:bold;
        font-style:normal;
      }
    }
    .btn_groups{
      clear:both;
      position:relative;
      float:left;
      width:100%;
      margin-top:14px;
      .btn_groups_left{
        float:left;
        width:30%;
      }
      .btn_groups_right{
        float:right;
        width:70%;
      }
      a{
        button{
          width:6.5rem;
        }
      }
      button{
        color:$blue;
        background:transparent;
        width:7rem;
        height:30px;
        line-height:30px;
        font-size:1.1rem;
        text-align:left;
        font-weight:bold;
      }
      .go_to_direct_sale{
        float:right;
        text-align:center;
      }
      .go_to_parity{
        float:right;
        background:$blue;
        color:$white;
        font-size:1.2rem;
        text-align:center;
      }
    }
  }
}
