@import "../common/variable";
.my_subscription {
  padding-bottom: 4rem;
  .more_subscription_btn {
    color: $blue;
    background: none;
    font-size: 1.4rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
  .direct_sale_link {
    display: block;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    position: fixed;
    bottom: 0;
    text-align: left;
    font-size: 1.3rem;
    color: #a9a9a9;
    font-weight: bold;
    border-left: 4px solid $blue;
    padding-left: 5px;
  }
  .subscription_list {
    li {
      .subscription_title {
        height: 3rem;
        line-height: 3rem;
        background: #f6f6f6;
        padding: 0 10px;
        span {
          margin: 0 2px;
        }
      }
      .subscription_detail {
        padding: 1rem 0;
        background: white;
        .car_image, .car_desc, .order_status {
          display: inline-block;
        }
        .car_image {
          width: 20%;
          padding: 0 5%;
        }
        .car_desc {
          width: 40%;
          .car_series_name {
            margin-top: 1rem;
          }
          .car_model_name {
            color: #868686;
          }
        }
        .order_status {
          width: 25%;
          margin-right: 5%;
          text-align: right;
          font-size: 1.4rem;
        }
      }
    }
  }
}
